<section class="hero is-fullheight">
	<!--HEAD NAVIGATION-->
	<header class="hero-head">
		<nav class="navbar">
			<div class="navbar-brand is-flex">
				<div class="navbar-start">
					<div class="blank">
					</div>
				</div>
				<div class="navbar-end">
					<div class="navButtons" id="navLi">
						<ul class="level-item">
							<li><a href="https://clash-encounter.herokuapp.com/" id="navList">Home</a></li>
							<li><a href="https://clash-encounter.herokuapp.com/meettheteam" id="navList">Meet the Team</a></li>
							<li><a href="https://clash-encounter.herokuapp.com/adminsignin" id="navList">Login</a></li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</header>

	<div class="hero-body is-centered">
		<div class="container is-centered level">
			<div class="column level-left">
				<div id="inputPage" class="level is-centered">
					<form method="post" action="/{{actionBtn}}">
						{{!-- LEFT LEVEL --}} {{!--
						<div class="columns level">
							<div class="column level-item authInputs">
								<input id="username" name="username" placeholder="Username" />
							</div>
							<div class="column level-item authInputs">
								<input id="password" type="password" name="password" placeholder="Password" />
							</div>
						</div> --}}
						<div class="field is-centered">
							<p class="control level-item">
								<input class="input is-centered" id="username" name="username" placeholder="Username" />
							</p>
						</div>
						<div class="field is-centered">
							<p class="control level-item">
								<input class="input is-centered" id="password" name="password" placeholder="Password" />
							</p>
						</div>
						<div class="column level-right">
							<div id="inputBtn" class="level is-centered">
								<div class="column level-item has-text-centered">
									<button class="button is-dark" type="submit" id="submitUser">Submit</button>

									<a href="/{{otherAction}}" class="button is-dark" type="submit" id="submitUser">{{otherAction}}</a>
								</div>
							</div>

						</div>
					</form>
				</div>
			</div>
			{{!-- RIGHT LEVEL --}}

		</div>
	</div>
</section>