<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
    <link rel="stylesheet" href="styles/styles.css" media="screen" title="no title" charset="utf-8">
    <title>Clash Encounter | Competitions Made Easy</title>
</head>

<body>

    <!--MAIN HERO SECTION-->
    <section class="hero is-fullheight">
        <!--HEAD NAVIGATION-->
        <header class="hero-head">
            <nav class="navbar">
                <div class="navbar-brand is-flex">
                    <div class="navbar-start">
                        <div class="blank">
                        </div>
                    </div>
                    <div class="navbar-end">
                        <div class="navButtons" id="navLi">
                            <ul class="level-item">
                                <li><a href="#" id="navList">Meet the Team</a></li>
                                <li><a href="#" id="navList">Social</a></li>
                                <li><a href="http://localhost:3000/adminsignin" id="navList">Login</a></li>
                                {{{message1}}} {{username}}

                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <div class="hero-body level">
            <div class="logo-main level-item">
                <a class="logo" href="#">
<<<<<<< HEAD
                    <img src="./images/project-2-logo-01.png " alt="Clash Encounter">
=======
                    <img src="./images/project-2-logo-01.png" alt="Clash Encounter">
>>>>>>> 3f97fd6c44af3ebef56aa5d4276444ea60cc895e
                </a>
            </div>
        </div>
    </section>
    <!--LISTED MATCHES SECTION-->
    <section class="section is-fullheight level">
        <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4 level-item">All games available</p>
                    </div>
                </div>

                <div class="content">
                    <p class="level-item">This is what separates the casual players from the professionals, think you've
                        got the stuff?</p>
                    <p class="level-item">Give it a try! Tag us on your best clips on twitter
                        <a> &nbsp; @clashEncounter</a>.</p>
                    <a class="level-item" href="#">#CEPRO</a> <a class="level-item" href="#">#CEMEONLINE</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4 level-item">All games available</p>
                    </div>
                </div>

                <div class="content">
                    <p class="level-item">This is what separates the casual players from the professionals, think you've
                        got the stuff?</p>
                    <p class="level-item">Give it a try! Tag us on your best clips on twitter
                        <a> &nbsp; @clashEncounter</a>.</p>
                    <a class="level-item" href="#">#CEPRO</a> <a class="level-item" href="#">#CEMEONLINE</a>
                </div>
            </div>
        </div>
    </section>
    <section class="hero is-fullheight">
        <div class="hero-body">
            <!--CARDS SECTION-->
            <div class="tileSection ">
                <div class="tile is-ancestor level ">
                    <div class="tile is-4 level-left ">
                        <!-- Add content or other tiles -->
                        <p class="subtitle">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia voluptatum, similique voluptate dignissimos itaque nemo eius
                            beatae natus. Nulla ratione culpa eaque dolor provident similique illum modi aliquam nihil molestias!
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, laboriosam dolor quasi nisi
                            molestiae aut blanditiis omnis, nobis cupiditate ab deleniti dicta quia reiciendis quos dolore
                            consectetur? Tenetur, quas aspernatur!
                        </p>

                    </div>
                    <div class="tile is-4 level-right ">
                        <!-- Add content or other tiles -->
                        <p class="subtitle">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio doloribus dolores qui, omnis dolor, optio tempora fuga
                            placeat eos natus corrupti et quisquam modi aliquid veniam, dolorum magnam inventore. Natus.
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam fuga incidunt voluptatum laboriosam?
                            Et, dolorum harum. Ratione labore autem quasi placeat cumque sequi perferendis aliquid molestiae,
                            sapiente porro earum maxime?
                        </p>

                    </div>
                </div>
            </div>
        </div>

    </section>


</body>

</html>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>