<body>

    <!--MAIN HERO SECTION-->
    <section class="hero is-fullheight">
        <!--HEAD NAVIGATION-->
        <header class="hero-head">
            <nav class="navbar">
                <div class="navbar-brand is-flex">
                    <div class="navbar-start">
                        <div class="blank">
                        </div>
                    </div>
                    <div class="navbar-end">
                        <div class="navButtons" id="navLi">
                            <ul class="level-item">
                                <li><a href="https://clash-encounter.herokuapp.com/" id="navList">Home</a></li>
                                <li><a href="https://clash-encounter.herokuapp.com/meettheteam" id="navList">Meet the Team</a></li>
                                <li><a href="https://clash-encounter.herokuapp.com/adminsignin" id="navList">Login</a></li>
                                {{{message1}}} {{username}}

                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <div class="hero-body level">
            <div class="logo-main level-item">
                <a class="logo" href="#">
                    <img src="./images/project-2-logo-01.png" alt="Clash Encounter">
                </a>
            </div>
        </div>

    </section>
    <!--LISTED MATCHES SECTION-->
    <section class="section is-fullheight level">
        <div class="card level-item">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="https://cdn.dribbble.com/users/730703/screenshots/5053341/rui-ricardo-folio-illustration-vr-virtual-reality-gaming-tech-insta_1x.jpg"
                        alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-6 level-item">Compete with rivals in real time!</p>
                    </div>
                </div>

                <div class="content">
                    <p class="level-item">This is what separates the casual players from the professionals, think you've
                        got the stuff?</p>
                    <p class="level-item">Give it a try! Tag us on your best clips on twitter
                        <a> &nbsp; @clashEncounter</a>.</p>
                    <a class="level-item" href="#">#CEPRO</a> <a class="level-item" href="#">#CEMEONLINE</a>
                </div>
            </div>
        </div>
        <div class="card level-item">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="https://cdn.dribbble.com/users/462788/screenshots/5054207/victory_4x.jpg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-6 level-item">Win big time, enter tournaments to win real prizes!</p>
                    </div>
                </div>

                <div class="content">
                    <p class="level-item">It's super simple, just enter the game you would like to play </p>
                    <p class="level-item">Give it a try! Tag us on your best clips on twitter
                        <a> &nbsp; @clashEncounter</a>.</p>
                    <a class="level-item" href="#">#CEPRO</a> <a class="level-item" href="#">#CEMEONLINE</a>
                </div>
            </div>
        </div>
    </section>

</body>
<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src="/js/index.js"></script>