<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
  <link rel="stylesheet" href="styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Clash Encounter | Competitions Made Easy</title>
</head>

<body>
  <!--HEAD NAVIGATION-->
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="logo" href="#">
        <img src="./project-2-logo-01.png" alt="Clash Encounter">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  </nav>
  <!--MAIN HERO SECTION-->
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum impedit magnam odit enim quia. Velit culpa vel labore odio
          earum voluptates voluptate! Incidunt provident odit autem quis quia nisi perspiciatis? Lorem ipsum dolor, sit amet
          consectetur adipisicing elit. Totam adipisci eius eveniet, iusto repellat omnis officia enim porro voluptates fugit
          velit suscipit inventore magni, ea obcaecati illo animi id tempora.
        </h1>
        <h2 class="subtitle">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid voluptate quasi dignissimos dicta libero nesciunt eveniet
          similique maiores necessitatibus est, repellat sint, exercitationem non minima doloribus enim sed molestias ex!
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et soluta, iure minima praesentium mollitia harum quam
          alias magni, minus vel temporibus? Cumque nam est molestiae similique! Fuga quos aliquam repellendus!
        </h2>
      </div>
    </div>
  </section>
  <!--LISTED MATCHES SECTION-->
  <section class="section">
    <div class="container">
      <h1 class="title" id="slate">Matches Available</h1>
      <h2 class="subtitle" id="slate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, quia! Neque tempora
        dignissimos hic possimus? Explicabo, eius. Reiciendis quidem ratione laudantium accusantium, sequi veritatis hic
        deleniti iste quos. Expedita, pariatur!
      </h2>
    </div>
  </section>
  <!--CARDS SECTION-->

</body>

</html>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>