<section class="hero is-fullheight">
    <!--HEAD NAVIGATION-->
    <header class="hero-head">
        <nav class="navbar">
            <div class="navbar-brand is-flex">
                <div class="navbar-start">
                    <div class="blank">
                    </div>
                </div>
                <div class="navbar-end">
                    <div class="navButtons" id="navLi">
                        <ul class="level-item">
                            <li><a href="http://localhost:3000/" id="navList">Home</a></li>
                            <li><a href="http://localhost:3000/meettheteam" id="navList">Meet the Team</a></li>
                            <li><a href="http://localhost:3000/adminsignin" id="navList">Login</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="hero-body">
        <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="./images/projectOutlines/alexOutline-01.png" id="outline1" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4 level-item">Backend Developer</p>
                    </div>
                </div>

                <div class="content">
                    <p class="level-item">This is what separates the casual players from the professionals, think you've
                        got the stuff?</p>
                    <p class="level-item">Give it a try! Tag us on your best clips on twitter
                        <a> &nbsp; @clashEncounter</a>.</p>
                    <a class="level-item" href="#">#CEPRO</a> <a class="level-item" href="#">#CEMEONLINE</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="./images/projectOutlines/andresOutline-01 (1).png" id="outline2" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4 level-item">Backend Developer</p>
                    </div>
                </div>

                <div class="content">
                    <p class="level-item">This is what separates the casual players from the professionals, think you've
                        got the stuff?</p>
                    <p class="level-item">Give it a try! Tag us on your best clips on twitter
                        <a> &nbsp; @clashEncounter</a>.</p>
                    <a class="level-item" href="#">#CEPRO</a> <a class="level-item" href="#">#CEMEONLINE</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="./images/projectOutlines/jonathanOutline.png" id="outline3" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4 level-item">Frontend Developer</p>
                    </div>
                </div>

                <div class="content">
                    <p class="level-item">This is what separates the casual players from the professionals, think you've
                        got the stuff?</p>
                    <p class="level-item">Give it a try! Tag us on your best clips on twitter
                        <a> &nbsp; @clashEncounter</a>.</p>
                    <a class="level-item" href="#">#CEPRO</a> <a class="level-item" href="#">#CEMEONLINE</a>
                </div>
            </div>
        </div>
    </div>



</section>