.logo {
    width: 200px;
    height: 132px;
    padding: none;
    margin: none;
}
.hero {
    background-color: #FFC107;
}
.hero-body{
    padding-top: none;
    margin-top: none;
}
.navbar {
    background-color: #738290;
    color: white;
}
.navbar-brand {
    width: 100%;
}
.section {
    background-color: #738290;
    color: white;
}
#slate {
    color: white;
}
.tileSection {
    background-color: #FFC107;
}
.tile {
    padding: 10px;
    margin: 5px;
}
#navList {
    margin: 10px 10px 0px 10px;
    padding-right: 15px;
    list-style: none;
    display: inline-block;
    position: relative;
    color: #000000;
}
#navList:hover {
    color: #CFDBD5;
    opacity: .75;
}
.card {
    margin-bottom: none;
    height: 500px;
}
.box:not(:last-child), .content:not(:last-child), .notification:not(:last-child), .progress:not(:last-child), .table:not(:last-child), .table-container:not(:last-child), .title:not(:last-child), .subtitle:not(:last-child), .block:not(:last-child), .highlight:not(:last-child), .breadcrumb:not(:last-child), .level:not(:last-child), .message:not(:last-child), .tabs:not(:last-child) {
    margin-bottom: 0px;
}